# Server
PORT=3070
NODE_ENV=development

# Admin
ADMIN_USERNAME=admin
ADMIN_PASSWORD=

# JWT
JWT_SECRET=

# Database
DB_PATH=./data/easyballot.db

# Qiniu
QINIU_ACCESS_KEY=
QINIU_SECRET_KEY=
QINIU_BUCKET=
QINIU_DOMAIN=
